<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mary's Play Haven</title>
    <link rel="stylesheet" href="../style/style.css"> <!--Link da folha de estilo (do arquivo CSS, tem que ser o caminho de onde está o arquivo)-->
   
</head>

<body>
    <header>
        <nav class="nav">
            <img src="../images/blocos.png" class="logo">
            <h1 class="titulo">Mary's<br><span class="mary">Play Haven</span></h1>
        </nav>        
    </header>

    <div class="container">

        <section class="sidebar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="../templates/Home.html" class="nav-link">
                        <img src="../images/botao-de-inicio.png" alt="#" class="icon">
                        <span class="link-text">Home</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../templates/Catalogo.html" class="nav-link">
                        <img src="../images/nota-musical.png" alt="#" class="icon">
                        <span class="link-text">Musical</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../templates/Catalogo.html" class="nav-link">
                        <img src="../images/varinha-magica.png" alt="#" class="icon">
                        <span class="link-text">Imaginativo</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../templates/Catalogo.html" class="nav-link">
                        <img src="../images/cerebro-humano.png" alt="#" class="icon">
                        <span class="link-text">Sensorial</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../templates/Catalogo.html" class="nav-link">
                        <img src="../images/abra-o-livro.png" alt="#" class="icon">
                        <span class="link-text">Educativa</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../templates/Catalogo.html" class="nav-link">
                        <img src="../images/modo-esporte.png" alt="#" class="icon">
                        <span class="link-text">Atividade Física</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../templates/Catalogo.html" class="nav-link">
                        <img src="../images/enigma.png" alt="#" class="icon">
                        <span class="link-text">Quebra-Cabeça</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="../templates/ADM.html" class="nav-link">
                        <img src="../images/definicoes.png" alt="#" class="icon">
                        <span class="link-text">Administração (ADM)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <img src="../images/trabalho-em-equipe.png" alt="#" class="icon">
                        <span class="link-text">Equipe</span>
                    </a>
                </li>
            </ul>
        </section>

        <main class="main">
            <h2>Produtos</h2>

            <div class="b s1">.</div>
            <div class="b s2">.</div>
            <div class="b s3">.</div>

            <!-- Espaço onde os produtos serão exibidos -->
            <div id="brinquedos-container" class="produto-container">
                <!-- Iteração sobre os produtos -->
                <div class="produtos" th:each="produto, iterStat : ${produtos}" th:if="${iterStat.index >= (currentPage - 1) * produtosPorPagina and iterStat.index < currentPage * produtosPorPagina}">
                    <div class="produto">
                        <img th:src="${produto.imagemCaminho}" th:alt="'Imagem do ' + ${produto.nome}" src="../images/S49dec60d8f824903a30fd62fb01aa3b5Q.jpg_640x640Q90.jpg_.webp" class="foto"/>
                        <h3 th:text="${produto.nome}" class="brinquedo">Xilofone</h3>
                        <p th:text="'Preço: R$' + ${#numbers.formatDecimal(produto.preco, 2, 'COMMA', 3, 'POINT')}" class="valor">R$ 39,90</p>
                        <a th:href="'/detalhes?produtoId=' + ${produto.id}" href="../templates/brinquedo.html">
                            <button class="btn">+ Informações</button>
                        </a>
                    </div>

                    <div class="produto">
                        <img th:src="${produto.imagemCaminho}" th:alt="'Imagem do ' + ${produto.nome}" src="../images/Brinquedos-educativos-de-madeira-para-veleiro-Little-Land-Yacht-com-marinheiros-Peg-Dolls-Small-World-Open.webp" class="foto"/>
                        <h3 th:text="${produto.nome}" class="brinquedo">Veleiro e Marilheiros</h3>
                        <p th:text="'Preço: R$' + ${#numbers.formatDecimal(produto.preco, 2, 'COMMA', 3, 'POINT')}" class="valor">R$ 69,90</p>
                        <a th:href="'/detalhes?produtoId=' + ${produto.id}" href="../templates/brinquedo.html">
                            <button class="btn">+ Informações</button>
                        </a>
                    </div>

                    <div class="produto">
                        <img th:src="${produto.imagemCaminho}" th:alt="'Imagem do ' + ${produto.nome}" src="../images/S49dec60d8f824903a30fd62fb01aa3b5Q.jpg_640x640Q90.jpg_.webp" class="foto"/>
                        <h3 th:text="${produto.nome}" class="brinquedo">Carinho de Formas Geométricas</h3>
                        <p th:text="'Preço: R$' + ${#numbers.formatDecimal(produto.preco, 2, 'COMMA', 3, 'POINT')}" class="valor">R$ 49,90</p>
                        <a th:href="'/detalhes?produtoId=' + ${produto.id}" href="../templates/brinquedo.html">
                            <button class="btn">+ Informações</button>
                        </a>
                    </div>

                    <div class="produto">
                        <img th:src="${produto.imagemCaminho}" th:alt="'Imagem do ' + ${produto.nome}" src="../images/23438209636031d3232.webp" class="foto"/>
                        <h3 th:text="${produto.nome}" class="brinquedo">Brinquedo de Encaixar do corpo humano</h3>
                        <p th:text="'Preço: R$' + ${#numbers.formatDecimal(produto.preco, 2, 'COMMA', 3, 'POINT')}" class="valor">R$ 39,90</p>
                        <a th:href="'/detalhes?produtoId=' + ${produto.id}" href="../templates/brinquedo.html">
                            <button class="btn">+ Informações</button>
                        </a>
                    </div>

                    <div class="produto">
                        <img th:src="${produto.imagemCaminho}" th:alt="'Imagem do ' + ${produto.nome}" src="../images/bola_de_espuma-570cf4ea68690aadd4477962f440728f.jpg" class="foto"/>
                        <h3 th:text="${produto.nome}" class="brinquedo">Bola</h3>
                        <p th:text="'Preço: R$' + ${#numbers.formatDecimal(produto.preco, 2, 'COMMA', 3, 'POINT')}" class="valor">R$ 29,90</p>
                        <a th:href="'/detalhes?produtoId=' + ${produto.id}" href="../templates/brinquedo.html">
                            <button class="btn">+ Informações</button>
                        </a>
                    </div>

                    <div class="produto">
                        <img th:src="${produto.imagemCaminho}" th:alt="'Imagem do ' + ${produto.nome}" src="../images/HTB1Z5fifDqWBKNjSZFAq6ynSpXaq.jpg_640x640Q90.jpg_.webp" class="foto"/>
                        <h3 th:text="${produto.nome}" class="brinquedo">Quebra-Cabeça cobra alfabética</h3>
                        <p th:text="'Preço: R$' + ${#numbers.formatDecimal(produto.preco, 2, 'COMMA', 3, 'POINT')}" class="valor">R$ 39,90</p>
                        <a th:href="'/detalhes?produtoId=' + ${produto.id}" href="../templates/brinquedo.html">
                            <button class="btn">+ Informações</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Navegação entre as páginas -->
            <div class="paginacao">
                <a th:if="${currentPage > 1}" th:href="@{'/?page=' + (currentPage - 1)}">&laquo; Anterior</a>
                <a th:if="${currentPage < totalPages}" th:href="@{'/?page=' + (currentPage + 1)}">Próxima &raquo;</a>
            </div>
        </main>
    </div>

    <footer>
        &copy; 2023 Mary's Play Haven. Todos os direitos reservados.
    </footer>
</body>

</html>